'.source.julia':
  'editor':
    'commentStart': '# '
    'increaseIndentPattern': '^\\s*(if|while|for|begin|function|macro|module|type|let|else|elseif)\\b.*\\s*$'
    'decreaseIndentPattern': '^\\s*((end|else|elseif)\\b)'
